<!doctype html>
<html lang="en" ng-app="gameOfLife">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/app.css">

  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/require/build/require.js"></script>
  <script src="js/app.js"></script>
  <script src="js/MainController.js"></script>
  <script src="js/cellData.js"></script>
</head>
<body ng-controller="MainController">
  <h1> Conway's Game of Life </h1>
  <p>
    The "game" is a zero-player game, meaning that its evolution is determined by its initial state, requiring no further input. One interacts with the Game of Life by creating an initial configuration and observing how it evolves or, for advanced players, by creating patterns with particular properties. More information can be found here: <a href='http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life' target='_blank'>http://en.wikipedia.org/wiki/Conway's_Game_of_Life</a>
  </p>

  <h2>Instructions</h2>
  <ol>
    <li>Set width and height of the grid</li>
    <li>Press New Game to create a new grid</li>
    <li>Press Start to watch the evolution of cells</li>
  </ol>

  <h2>Rules of the Cells</h2>
  <ol>
    <li>Any live cell with fewer than two live neighbours dies, as if caused by under-population.</li>
    <li>Any live cell with two or three live neighbours lives on to the next generation.</li>
    <li>Any live cell with more than three live neighbours dies, as if by overcrowding.</li>
    <li>Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.</li>
  </ol>

  <div class='spacing'>
    Width:  <input type='text' class='width' ng-model='cellData.width'>
  </div>
  <div class='spacing'>
    Height: <input type='text' class='height' ng-model='cellData.height'>
  </div>

  <button type='button' class='newGame' ng-click='newGame()'>New Game</button>
  <button type='button' class='start' ng-click="cellData.start()">Start</button>
  <button type='button' class='stopGame' ng-click="cellData.stopGame()">Stop</button>

  <div class='container'>
    <div ng-repeat='row in cellData.cells'>
      <div ng-repeat='cell in row' class="single-cell" ng-class="{'black': cell.is_alive}">
      </div>
      <p class='clear'></p>
    </div>

  </div>

</body>
</html>
