<!doctype html>
<html lang="en" ng-app="gameOfLife">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/app.css">

  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/MainController.js"></script>
  <script src="js/cellData.js"></script>
</head>
<body ng-controller="MainController">
  <h1> Conway's Game of Life </h1>

  <div class='spacing'>
    Width:  <input type='text' class='width' ng-model='cellWidth'>
  </div>
  <div class='spacing'>
    Height: <input type='text' class='height' ng-model='cellHeight'>
  </div>

  <button type='button' class='start' ng-click="step()">Start</button>

  <div class='container'>
    <div ng-repeat='row in cellData.cells'>
      <div ng-repeat='cell in row' class="single-cell" ng-class="{'black': cell.is_alive}">
      </div>
      <p class='clear'></p>
    </div>

  </div>

</body>
</html>
